h1 {
  color: mediumturquoise;
}
.weather-app {
  max-width: 600px;
  border: 1px solid grey;
  border-radius: 7px;
}
.cloud-icon {
  font-size: 40px;
  color: rgb(109, 193, 241);
}
.current-temp {
  font-size: 43px;
  font-style: bold;
  font-weight: 800;
}
.realfeel {
  font-size: 17px;
  font-style: italic;
  margin-top: -110px;
  margin-left: 60px;
}
.vl {
  border-left: 6px solid rgb(37, 31, 31);
  height: 85px;
  position: absolute;
  left: 190px;
  margin-left: -3px;
  top: -6px;
}
.climate {
  position: relative;
  font-size: 13px;
  font-style: italic;
  line-height: 1.1;
}
.weather-topic {
  position: relative;
  line-height: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.city {
  font-size: 17px;
  font-style: bold;
  font-weight: 600;
}
.datetime {
  font-size: 17px;
  font-style: italic;
}
.forecast {
  font-size: 21px;
}

.row {
  display: flex;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 15px;
}
.temprature {
  font-size: 14px;
}
.day-week {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.icon {
  font-size: 19px;
}
.current {
}
a {
  text-transform: none;
}
